@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 100;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img.jpg)
}
.wrapper{
    width: 320px;
    background: purple;
    color: #fff;
    border-radius: 10px;
    padding: 30px;

}
.wrapper h1{
    font-size: 20px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 270px;
    height: 20px;
    margin: 30px 0;
}
.input-box input{
    width: 270px;
    height: 25px;
   background: transparent;
   border: none;
   outline: none;
   border: 2px solid rgba(255,255,255, .2);
   border-radius: 40px;
   font-size: 13px;
   color: #fff;
   padding: 20px 30px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 10px;
    top: 90%;
    transform: translateY(-50%);
    font-size: 20px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 0;

}
.remember-forgot a{
    color: #fff;
    text-decoration: none;

}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper .btn{
    width: 270px;
    height: 30px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;

}
.wrapper .register-link{
    font-size: 13px;
    text-align: center;
    margin-top: 20px;


}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-size: 400;
}
.register-link p a:hover{
    text-decoration: underline;
}